@import '_adaptive';
@import 'normalize';

.container {
	max-width: 1680px;
	margin: 0 auto;
	min-height: 100%;
}

.header {
	&__title {
		text-align: center;
		font-size: 36px;
		color: black;
	}
}

input {
	display: none;
}
