@import '_adaptive';
@import 'normalize';

body {
	background-image: url('../images/1660251480_19-kartinkin-net-p-besshovnie-oboi-dlya-saita-krasivo-20.jpg');
}

.container {
	max-width: 1680px;
	margin: 0 auto;
	min-height: 100%;
	padding: 5px;
}

.header {
	&__title {
		text-align: center;
		font-size: 36px;
		color: azure;
	}
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin: 0 auto;

	&__content {
		width: 100%;

		&:hover > .main__label-image {
			height: auto;
		}
	}

	&__label-title {
		border: 1px solid black;
		background: azure;
		cursor: pointer;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 5px;
		width: 100%;
		font-size: 2rem;
		margin: 0 0 0.4rem;

		&:hover .main__svg {
			transform: rotate(720deg);
		}
	}

	&__label-image {
		display: block;
		padding: 0 2rem;
		width: 100%;
		height: 0;
		color: rgba(0, 0, 0, 0);
		background: linear-gradient(1turn, #089ad9, #344d85, #091722);
		cursor: pointer;
		transition:
			all color 2.5s,
			padding 1.5s;
		overflow: hidden;
		text-align: center;
	}

	&__svg {
		width: 30px;
		height: 30px;
		stroke: black;
		transition: transform 1.3s linear;
	}
}

input {
	display: none;

	&:checked + .main__label-title > .main__svg {
		stroke: red;
	}

	&:checked + .main__label-title + .main__label-image {
		height: auto;
	}
}
